
{% extends 'base.html' %}
{% block main %}
    <h4 class="card-title">Списки задач</h4>
    {% if message %}
        <p class="alert alert-success">
            <strong>{{ message }}</strong>
        </p>
    {% endif %}
    {% if latest_schedule %}
        <ul>
            {% for schedule in latest_schedule %}
                <li>
                    <a href="/schedule/{{ schedule.id }}/">
                        {{ schedule.schedule_text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>На данный момент нет списка.</p>
    {% endif %}
{% endblock %}

